.blog-posts {
  h1 {
    background-color: #f6f6f6;
    border-bottom: solid 5px #b39f5a;
    font-size: 2rem;
    padding: 20px 0 20px 30px;
    margin-bottom: .5rem
  }
}

.blog-post {
  margin-bottom: 1rem;
}

.blog-post__title {
  font-size: 1.1rem;
  font-weight: bold;
}
